.header {
    background-color: #1691fd;
    padding: 15px;
    display: flex;

    .logo-name {
        display: flex;
        .logo {
            img {
                width: 50px;
                height: 50px;
            }

            margin-right: 20px;
        }

        h1 {
            margin-top: 5px;
        }
    }

    .logout {
        margin-left: 80%;
        margin-top: 10px;
    }
}

.quiz-header {
    background-color: #1691fd;
    padding: 15px;
    display: flex;

    .name-timer {
        margin-left: 70%;
        align-content: center;
        .timer {
            color: purple;
        }
    }
}