.quiz-test {
    .quiz-body {
        display: flex;
        width: 90%;
        margin: auto;
        margin-top:50px;

        .quiz-question {
            width: 70%;
            border: 1px solid black;
            padding: 50px;
            border-radius: 20px;
        }

        .question-options {
            margin-bottom: 80px;
        }
    }
    .acion-buttons {
        display: flex;
    }

    .buttons-move {
        width: 90%;
        Button {
            margin-right: 20px;
        }
    }

    .alert-box {
        margin-top: 20px;
    }

    .question-palette {
        width: 20%;
        margin-left: 10%; 
        border: 1px solid black;
        border-radius: 20px;
        padding: 50px;
    }
}